Repository antoinealb/swiss-unity-league: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-commit-django-migrations, djhtml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-yaml
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    -   id: autoflake
        args: [--remove-all-unused-imports]
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
- repo: https://github.com/psf/black
  rev: 24.3.0
  hooks:
    - id: black
- repo: local
  hooks:
    - id: pre-commit-django-migrations
      name: Check django migrations
      entry: ./manage.py makemigrations --dry-run --check
      language: system
      types: [python]
      pass_filenames: false
    - id: djhtml
      name: Check django template
      entry: djhtml
      language: system
      files: templates/
      types: [html]

- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
    - id: insert-license
      types: [python]
      args:
        - --license-filepath
        - .license_header.txt
        - --use-current-year

Fix case-insensitivity of leaderboard search
  championship/templates/championship/ranking/base_ranking.html
Due: djhtml

Switch to server-side leaderboard rendering
  championship/templates/championship/ranking/base_ranking.html
  championship/tests/test_ranking_page.py
  championship/views/ranking.py
Due: pre-commit-django-migrations, djhtml

Allow copying the judge link
  decklists/templates/decklists/collection_details.html
Due: djhtml

Add a query parameter for sorting mode
  decklists/templates/decklists/collection_details.html
  decklists/tests/test_view_collection.py
  decklists/tests/test_view_decklist.py
  decklists/views.py
Due: pre-commit-django-migrations, djhtml

Add a sharing link to collections
  decklists/admin.py
  decklists/migrations/0005_collection_staff_key.py
  decklists/models.py
  decklists/templates/decklists/collection_details.html
  decklists/tests/test_view_collection.py
  decklists/views.py
Due: pre-commit-django-migrations, djhtml

Fix N+1 queries in CollectionView
  decklists/views.py
Due: pre-commit-django-migrations

Show absolute link when sharing
  decklists/views.py
Due: pre-commit-django-migrations

Set a default "From:" email address
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations

Fix missing trophy icon
  championship/templates/championship/ranking/base_ranking.html
Due: djhtml

Exclude private fields from decklist admin
  decklists/admin.py
Due: pre-commit-django-migrations

Player profiles by team Show a view of the player profiles by team
  championship/templates/championship/player_profile_card.html
  championship/templates/championship/player_profiles_by_team.html
  championship/tests/test_player_details_page.py
  championship/tests/test_player_profile.py
  championship/urls.py
  championship/views/players.py
Due: pre-commit-django-migrations, djhtml

Remove premier event downgrade Starting from season 2025 we no longer downgrade Premiers for low attendance.
  api/serializers.py
  api/tests/test_event_results.py
  championship/models.py
  championship/tests/models/test_event.py
  championship/tests/test_result_upload.py
  championship/views/recurring_events.py
  championship/views/results.py
  decklists/views.py
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations

Bulk create results in CreateResultsView
  championship/views/results.py
Due: pre-commit-django-migrations

Rename SingleEliminatinResult to PlayoffResult It's less verbose and also how we call it in the info texts. The API serializer keeps the original name, so that we're backward compatible.
  api/serializers.py
  api/tests/test_event_results.py
  championship/admin.py
  championship/factories.py
  championship/forms.py
  championship/migrations/0048_rename_single_elimination_result_result_playoff_result.py
  championship/models.py
  championship/score/generic.py
  championship/score/invitational_spring_2025.py
  championship/score/season_2023.py
  championship/score/season_2024.py
  championship/score/season_2025.py
  championship/tests/models/test_organizer_league.py
  championship/tests/score/test_score_2023.py
  championship/tests/score/test_score_2024.py
  championship/tests/score/test_score_2025.py
  championship/tests/score/test_score_trial_2024.py
  championship/tests/test_event_details.py
  championship/tests/test_player_details_page.py
  championship/tests/test_result_upload.py
  championship/views/players.py
  championship/views/results.py
  docs/api/tests/test_create_event.py
  invoicing/models.py
  invoicing/tests/test_billing.py
  invoicing/tests/test_view_report.py
  invoicing/views.py
Due: pre-commit-django-migrations

Precommit remove imports
  .pre-commit-config.yaml
Due: none

Respect hidden_from_leaderboard in API
  api/serializers.py
  api/tests/test_event_results.py
Due: pre-commit-django-migrations

Schedule event series only for Regular and Regional. We only show the button to create an event series for Regular and Regional.
  championship/templates/championship/event_details.html
  championship/tests/test_event_details.py
Due: pre-commit-django-migrations, djhtml

Add a tool to export results to Excel
  docs/api/export_results_to_csv.py
  docs/api/tests/test_export_results.py
Due: pre-commit-django-migrations

Expose password reset form
  championship/templates/registration/password_reset_complete.html
  championship/templates/registration/password_reset_confirm.html
  championship/templates/registration/password_reset_done.html
  championship/templates/registration/password_reset_form.html
Due: djhtml

Set a from email for Django
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations

Fix brittle tests by specifying the categories
  championship/tests/test_event_details.py
Due: pre-commit-django-migrations

Fix settings
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations

Fix Melee parser
  championship/parsers/melee.py
  championship/tests/parsers/melee_standings.csv
  championship/tests/parsers/test_melee.py
Due: pre-commit-django-migrations

Make the Melee tests less brittle
  championship/tests/test_result_upload.py
Due: pre-commit-django-migrations

Correctly display results for SUL Other
  championship/templates/championship/event_details.html
  championship/tests/test_event_details.py
  championship/views/events.py
Due: pre-commit-django-migrations, djhtml

Time to start a new season :)
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations

Hide Points column in results When there are no points, we should just hide the whole column.
  championship/templates/championship/event_details.html
  championship/tests/test_event_details.py
  championship/views/events.py
Due: pre-commit-django-migrations, djhtml

Rename SUL Points to League Points
  championship/templates/championship/components/abstract.html
  championship/templates/championship/info/2025/info_organizer.html
  championship/templates/championship/info/2025/info_player.html
  championship/templates/championship/info/base_info_organizer.html
  championship/templates/championship/organizer_details.html
  championship/templates/championship/player_details.html
  championship/templates/championship/ranking/2025/ranking.html
  championship/templates/championship/ranking/all/ranking.html
  championship/templates/championship/ranking/base_ranking.html
Due: djhtml

Extract robotstxt in its own app
  championship/urls.py
  championship/views/index.py
  robotstxt/__init__.py
  robotstxt/apps.py
  robotstxt/templates/robots.txt
  robotstxt/tests.py
  robotstxt/urls.py
  robotstxt/views.py
  swiss_unity_league_site/settings.py
  swiss_unity_league_site/urls.py
Due: pre-commit-django-migrations

Backfill missing user email
  championship/migrations/0049_backfill_emails.py
Due: pre-commit-django-migrations

Stop sending emails on invalid host
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations

Set the initial scaffolding for multisite support
  multisite/__init__.py
  multisite/apps.py
  multisite/migrations/0001_initial.py
  multisite/migrations/__init__.py
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations

Restart the new EU playground on rollout
  .gitlab-ci.yml
Due: none

Introduce a simple case for site filtering
  championship/migrations/0050_eventorganizer_site.py
  championship/models.py
  championship/tests/models/test_event.py
  championship/tests/models/test_event_organizer.py
  championship/tests/test_organizer_details.py
  championship/views/organizers.py
  multisite/factories.py
Due: pre-commit-django-migrations

add missing dependency
  championship/migrations/0050_eventorganizer_site.py
Due: pre-commit-django-migrations

try speeding up the build
  .gitlab-ci.yml
Due: none

Check permissions before showing "edit in admin"
  championship/templates/championship/event_details.html
  championship/tests/test_event_details.py
Due: pre-commit-django-migrations, djhtml

Show owned decklists first
  decklists/tests/test_view_collection.py
  decklists/views.py
Due: pre-commit-django-migrations

Hide stafflink once collection published
  decklists/templates/decklists/collection_details.html
  decklists/tests/test_view_collection.py
  decklists/views.py
Due: pre-commit-django-migrations, djhtml

Display OTHER events in event history
  championship/models.py
  championship/score/generic.py
  championship/templates/championship/player_details.html
  championship/tests/models/test_eventplayerresult.py
  championship/tests/test_player_details_page.py
  championship/views/players.py
Due: pre-commit-django-migrations, djhtml
