Repository antoinealb/swiss-unity-league: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-commit-django-migrations, djhtml

pre-commit-django-migrations:
  name: Check django migrations
  entry: ./manage.py makemigrations --dry-run --check
  language: system
  pass_filenames: false

djhtml:
  name: Check django template
  entry: djhtml
  language: system

adjust license after merge
  invoicing/migrations/0008_alter_invoice_frozen_file.py
Due: pre-commit-django-migrations

Extract API to a separate app
  api/__init__.py
  api/apps.py
  api/tests/__init__.py
  api/tests/test_all_events_api.py
  api/tests/test_authentication.py
  api/tests/test_event_creation.py
  api/tests/test_event_results.py
  api/tests/test_organizer.py
  api/urls.py
  api/views.py
  championship/urls.py
  mtg_championship_site/settings.py
  mtg_championship_site/urls.py
Due: pre-commit-django-migrations

remove duplicate past event API
  api/tests/test_all_events_api.py
  championship/urls.py
  championship/views/events.py
Due: pre-commit-django-migrations

Switch to explicit imports
  championship/tests/test_player_details_page.py
Due: pre-commit-django-migrations

Convert PerSeasonView into a mixin
  championship/views/base.py
  championship/views/info.py
  championship/views/players.py
  championship/views/ranking.py
Due: pre-commit-django-migrations

Do not allow looking at hidden players
  championship/tests/test_player_details_page.py
  championship/views/players.py
Due: pre-commit-django-migrations

Reorganize imports
  championship/tests/test_event_details.py
Due: pre-commit-django-migrations

Do not show links to hidden players profile
  championship/templates/championship/event_details.html
  championship/tests/test_event_details.py
Due: pre-commit-django-migrations, djhtml

Only show initials of players who requested to be hidden
  championship/templates/championship/event_details.html
  championship/tests/test_event_details.py
  championship/tests/test_template_tags.py
Due: pre-commit-django-migrations, djhtml

Add an initial design for a decklist app
  docs/design_decklists.md
Due: none

Add a Oracle Card database application
  .gitignore
  mtg_championship_site/settings.py
  oracle/__init__.py
  oracle/apps.py
  oracle/db_routers.py
  oracle/management/__init__.py
  oracle/management/commands/__init__.py
  oracle/management/commands/scryfall_import.py
  oracle/migrations/0001_initial.py
  oracle/migrations/__init__.py
  oracle/models.py
  oracle/testdata.json
  oracle/tests.py
Due: pre-commit-django-migrations

Remove non-constructed legal cards
  oracle/management/commands/scryfall_import.py
Due: pre-commit-django-migrations

More oracle features
  oracle/factories.py
  oracle/management/commands/scryfall_import.py
  oracle/migrations/0001_initial.py
  oracle/models.py
  oracle/tests.py
Due: pre-commit-django-migrations

Generate Oracle database at build time from Scryfall
  Dockerfile
  oracle/management/commands/scryfall_import.py
Due: pre-commit-django-migrations

Avoid N+1 queries in Event details view
  championship/templates/championship/event_details.html
  championship/views/events.py
Due: pre-commit-django-migrations, djhtml

Add mailto link in footer
  championship/templates/championship/base.html
Due: djhtml

Add special reward model
  championship/admin.py
  championship/migrations/0033_specialreward.py
  championship/models.py
Due: pre-commit-django-migrations

Compute byes and direct invites from SpecialRewards for the Season 2024
  championship/factories.py
  championship/score/season_2024.py
  championship/tests/score/test_score_2024.py
Due: pre-commit-django-migrations

Define decklist-related models
  decklists/__init__.py
  decklists/admin.py
  decklists/apps.py
  decklists/factories.py
  decklists/migrations/0001_initial.py
  decklists/migrations/__init__.py
  decklists/models.py
  decklists/tests/__init__.py
  decklists/tests/test_models.py
  decklists/views.py
  mtg_championship_site/settings.py
Due: pre-commit-django-migrations

Implement a parser for decklist format
  decklists/parser.py
  decklists/tests/test_parser.py
Due: pre-commit-django-migrations

Add a parser for mana values
  decklists/parser.py
  decklists/tests/test_parser.py
Due: pre-commit-django-migrations

Log mana that cannot be parsed
  oracle/management/commands/scryfall_import.py
Due: pre-commit-django-migrations

Add a parser for alternative mana
  decklists/parser.py
  decklists/templatetags/mana.py
  decklists/tests/test_parser.py
  decklists/tests/test_template_filters.py
Due: pre-commit-django-migrations

Add a templatetag to pretty print mana
  decklists/templatetags/__init__.py
  decklists/templatetags/mana.py
  decklists/tests/test_template_filters.py
Due: pre-commit-django-migrations

Make invoice table responsive
  invoicing/templates/invoicing/invoice_list.html
Due: djhtml

Show decklist content
  decklists/models.py
  decklists/parser.py
  decklists/templates/decklists/deck_section.html
  decklists/templates/decklists/decklist_details.html
  decklists/tests/test_decklist_normalization.py
  decklists/tests/test_models.py
  decklists/tests/test_view_decklisit.py
  decklists/urls.py
  decklists/views.py
  mtg_championship_site/urls.py
Due: pre-commit-django-migrations, djhtml

Register decklist-related models in Admin
  decklists/admin.py
Due: pre-commit-django-migrations

Add decklists edition page
  decklists/forms.py
  decklists/migrations/0002_alter_decklist_mainboard_alter_decklist_sideboard.py
  decklists/models.py
  decklists/templates/decklists/decklist_edit.html
  decklists/tests/test_update_decklist.py
  decklists/views.py
Due: pre-commit-django-migrations, djhtml

Implement listing a collection
  decklists/models.py
  decklists/templates/decklists/collection_details.html
  decklists/tests/test_view_collection.py
  decklists/urls.py
  decklists/views.py
Due: pre-commit-django-migrations, djhtml

Create new decklists from UI
  decklists/forms.py
  decklists/models.py
  decklists/templates/decklists/collection_details.html
  decklists/tests/test_update_decklist.py
  decklists/urls.py
  decklists/views.py
Due: pre-commit-django-migrations, djhtml

simplify example and help of decklist forms
  decklists/forms.py
  decklists/migrations/0002_alter_decklist_mainboard_alter_decklist_sideboard.py
  decklists/models.py
Due: pre-commit-django-migrations

Redirect when deadline is exceeded.
  decklists/tests/test_update_decklist.py
  decklists/views.py
Due: pre-commit-django-migrations

Add card counters in decklist view
  decklists/templates/decklists/deck_section.html
  decklists/templates/decklists/decklist_details.html
  decklists/tests/test_view_decklisit.py
  decklists/views.py
Due: pre-commit-django-migrations, djhtml

Sort decklists by mana value
  decklists/tests/test_view_decklisit.py
  decklists/views.py
Due: pre-commit-django-migrations

Top players emails per season
  championship/admin.py
  championship/tests/test_top_players_emails.py
Due: pre-commit-django-migrations

Remove settings override
  championship/tests/test_top_players_emails.py
Due: pre-commit-django-migrations

Improve loading time for results inline
  championship/admin.py
Due: pre-commit-django-migrations

Search functionality
  championship/admin.py
  championship/tests/test_admin_player_search.py
Due: pre-commit-django-migrations

Store type line in oracle cards
  oracle/management/commands/scryfall_import.py
  oracle/migrations/0002_card_type_line.py
  oracle/tests.py
Due: pre-commit-django-migrations

Sort unknown cards correctly
  decklists/tests/test_view_decklisit.py
  decklists/views.py
Due: pre-commit-django-migrations

Path conditions:
  pre-commit-django-migrations: any of: \.py$
  djhtml: any of: templates/ and \.(html|htm|xhtml)$
