Repository antoinealb/swiss-unity-league: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-commit-django-migrations, djhtml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-yaml
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    -   id: autoflake
        args: [--remove-all-unused-imports]
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
- repo: https://github.com/psf/black
  rev: 24.3.0
  hooks:
    - id: black
- repo: local
  hooks:
    - id: pre-commit-django-migrations
      name: Check django migrations
      entry: ./manage.py makemigrations --dry-run --check
      language: system
      types: [python]
      pass_filenames: false
    - id: djhtml
      name: Check django template
      entry: djhtml
      language: system
      files: templates/
      types: [html]

- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
    - id: insert-license
      types: [python]
      args:
        - --license-filepath
        - .license_header.txt
        - --use-current-year

Show decklist card in article Links to players and event and improved table layout.
  articles/templates/articles/decklist.html
  articles/templates/articles/decklist_card.html
  articles/templatetags/article.py
  articles/tests/test_template_tags.py
  decklists/templates/decklists/deck_section.html
  decklists/templates/decklists/decklist_table.html
  decklists/views.py
Due: pre-commit-django-migrations, djhtml

Remove sorting decklist by type
  decklists/tests/test_decklist_normalization.py
  decklists/views.py
Due: pre-commit-django-migrations

Show total cards in decklist
  decklists/templates/decklists/decklist_table.html
  decklists/tests/test_view_decklist.py
  decklists/views.py
Due: pre-commit-django-migrations, djhtml

Show 2024 season until Invitational is over
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations

Information about player profile
  championship/templates/championship/create_player_profile.html
Due: djhtml

Make sure to show only approved PlayerProfiles in the player details
  championship/factories.py
  championship/tests/test_player_details_page.py
  championship/views/players.py
Due: pre-commit-django-migrations

Maximum size for player profile image 500KB Portraits are actually quite small often < 100kb
  championship/migrations/0044_playerprofile_consent_for_stream_and_more.py
  championship/models.py
Due: pre-commit-django-migrations

Only show PlayerProfiles where we have consent to show them
  championship/factories.py
  championship/tests/test_player_details_page.py
  championship/views/players.py
Due: pre-commit-django-migrations

Form to submit player profile
  championship/forms.py
  championship/migrations/0044_playerprofile_consent_for_stream_and_more.py
  championship/models.py
  championship/templates/championship/submit_player_profile.html
  championship/tests/test_player_details_page.py
  championship/urls.py
  championship/views/players.py
Due: pre-commit-django-migrations, djhtml

Add team name
  championship/forms.py
  championship/migrations/0044_playerprofile_consent_for_stream_and_more.py
  championship/models.py
  championship/templates/championship/player_details.html
  championship/templates/championship/submit_player_profile.html
  championship/tests/test_player_details_page.py
Due: pre-commit-django-migrations, djhtml

Only show Favorite Organizer if defined
  championship/templates/championship/player_details.html
Due: djhtml

Test submitting team name in profile
  championship/tests/test_player_details_page.py
Due: pre-commit-django-migrations

PlayerProfile Rename Submit to Create We use create as a convention
  championship/templates/championship/create_player_profile.html
  championship/urls.py
  championship/views/players.py
Due: pre-commit-django-migrations, djhtml

PlayerProfile create success message in form valid
  championship/views/players.py
Due: pre-commit-django-migrations

PlayerManager that resolves players by name Takes into account that we clean names and resolve aliases to find true players.
  api/serializers.py
  championship/admin.py
  championship/forms.py
  championship/models.py
  championship/tests/test_result_upload.py
  championship/views/results.py
  decklists/forms.py
Due: pre-commit-django-migrations

Fix user import Auto importer picked the wrong user to import
  championship/tests/test_organizer_details.py
  championship/views/index.py
Due: pre-commit-django-migrations

Disallow NULL for decklist_url
  championship/migrations/0045_alter_result_decklist_url.py
  championship/models.py
  championship/views/results.py
Due: pre-commit-django-migrations

Add a management command to import Swiss Magic Masters decklist
  championship/management/commands/import_smm_decklist.py
Due: pre-commit-django-migrations

properly capitalize titles
  championship/templates/championship/event_details.html
  decklists/templates/decklists/decklist_details.html
Due: djhtml

Cache rendered article content for one week
  articles/models.py
  articles/templates/articles/article_detail.html
Due: pre-commit-django-migrations, djhtml

Select Premier SMM events as they also have Regular
  championship/management/commands/import_smm_decklist.py
Due: pre-commit-django-migrations

Add a simple view for articles attachment
  articles/forms.py
  articles/tests/test_update_view.py
  articles/urls.py
  articles/views.py
Due: pre-commit-django-migrations

Flaky organizer test If both organizers have the same name it breaks the test
  championship/tests/test_organizer_details.py
Due: pre-commit-django-migrations

Fix flaky decklist test
  championship/templates/championship/event_details.html
  championship/tests/test_decklists_event_details.py
  championship/views/events.py
  decklists/factories.py
Due: pre-commit-django-migrations, djhtml

Add basic support for linking images in articles
  articles/parser.py
  articles/templatetags/article.py
  articles/tests/test_parser.py
  articles/tests/test_template_tags.py
Due: pre-commit-django-migrations

Fix success message on file upload
  articles/tests/test_update_view.py
  articles/views.py
Due: pre-commit-django-migrations

Add missing template
  articles/templates/articles/upload_attachment.html
Due: djhtml

Capitalize deck titles in articles
  articles/templates/articles/decklist_card.html
Due: djhtml

Remove decklist creating flakeyness
  decklists/factories.py
Due: pre-commit-django-migrations

Advertise most recent article on homepage
  articles/admin.py
  articles/factories.py
  articles/migrations/0003_article_description_article_header_image.py
  articles/models.py
  championship/templates/championship/index.html
  championship/tests/test_index_page.py
  championship/views/index.py
Due: pre-commit-django-migrations, djhtml

Test submit article description and header_image
  articles/forms.py
  articles/tests/test_update_view.py
Due: pre-commit-django-migrations

Fix running multiple image tests
  articles/tests/test_update_view.py
Due: pre-commit-django-migrations

Rename article_image_validator
  articles/migrations/0003_article_description_article_header_image.py
  articles/models.py
Due: pre-commit-django-migrations

Change header image size to 500KB
  articles/migrations/0003_article_description_article_header_image.py
  articles/models.py
Due: pre-commit-django-migrations

Article description/content in meta tag
  articles/templates/articles/article_detail.html
  articles/tests/test_detail_view.py
Due: pre-commit-django-migrations, djhtml

Don't wrap mana symbols On super small screens mana layouts vertically otherwise
  decklists/templates/decklists/decklist_table.html
Due: djhtml

Refactor excel csv parser without pandas We now only use openpyxl to load excel files and then use list of list to process the data. Removes lots of dependencies from the code.
  championship/parsers/excel_csv_parser.py
  championship/tests/parsers/test_excel_csv.py
  championship/views/results.py
  requirements.txt
Due: pre-commit-django-migrations

Freeze time test that breaks at end of season
  championship/tests/test_event_details.py
Due: pre-commit-django-migrations

Improve player profile layout
  championship/templates/championship/player_details.html
Due: djhtml

Improve player profile admin Only render the player name, status and their consent, so we can know who we still need to approve and who to feature.
  championship/admin.py
  championship/models.py
Due: pre-commit-django-migrations
