Repository antoinealb/swiss-unity-league: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-commit-django-migrations, djhtml

pre-commit-django-migrations:
  name: Check django migrations
  entry: ./manage.py makemigrations --dry-run --check
  language: system
  pass_filenames: false

djhtml:
  name: Check django template
  entry: djhtml
  language: system

Typing for players in RankedEventFactory
  championship/factories.py
Due: pre-commit-django-migrations

Ignore type
  championship/factories.py
Due: pre-commit-django-migrations

Invitational spring 2025 scores
  championship/score/generic.py
  championship/score/invitational_spring_2025.py
  championship/season.py
  championship/tests/score/test_score_invitational_2025.py
Due: pre-commit-django-migrations

Correct Invitational leaderboard invite text
  championship/score/invitational_spring_2025.py
Due: pre-commit-django-migrations

Allow simulating tournaments with ranked event factories
  championship/factories.py
Due: pre-commit-django-migrations

Correct leaderboard invite text
  championship/templates/championship/ranking/2023/ranking.html
  championship/templates/championship/ranking/all/ranking.html
  championship/templates/championship/ranking/base_ranking.html
Due: djhtml

Ranking views season 2025
  championship/season.py
  championship/templates/championship/ranking/2024/ranking.html
  championship/templates/championship/ranking/2025/ranking.html
  championship/templates/championship/ranking/invitational-spring-2025/ranking.html
Due: pre-commit-django-migrations, djhtml

Release Season 2025
  championship/season.py
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations

Oracle Admin
  oracle/admin.py
Due: pre-commit-django-migrations

Fix migration
  championship/migrations/0043_playerprofile.py
Due: pre-commit-django-migrations

Layout for player profile
  championship/templates/championship/player_details.html
  championship/tests/test_player_details_page.py
  championship/views/players.py
Due: pre-commit-django-migrations, djhtml

Fix typing
  championship/admin.py
Due: pre-commit-django-migrations

PlayerProfile model and populate data in view
  championship/admin.py
  championship/factories.py
  championship/migrations/0043_playerprofile.py
  championship/models.py
  championship/templates/championship/player_details.html
  championship/tests/test_player_details_page.py
  championship/views/players.py
Due: pre-commit-django-migrations, djhtml

Explain PlayerProfile better in docstring
  championship/models.py
Due: pre-commit-django-migrations

Article card not exists Return [[cardname]] in the article when the card does not exist so that it doesn't crash.
  articles/templatetags/article.py
  articles/tests/test_template_tags.py
Due: pre-commit-django-migrations

Player info: change regional occurence to monthly
  championship/templates/championship/info/2025/info_player.html
Due: djhtml

Add format to event history One player mentioned it is sometimes not obvious from the event title what format it is
  championship/templates/championship/player_details.html
Due: djhtml

Simple search field for ranking
  championship/templates/championship/ranking/base_ranking.html
Due: djhtml

Improve organizer details by showing format and event date in correct format
  championship/templates/championship/organizer_details.html
  championship/templatetags/custom_tags.py
  championship/tests/test_organizer_details.py
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations, djhtml

Give 3 points per win for top 8s at regular events
  championship/score/season_2023.py
  championship/score/season_2024.py
  championship/score/season_2025.py
  championship/tests/score/test_score_2023.py
  championship/tests/score/test_score_2024.py
  championship/tests/score/test_score_2025.py
Due: pre-commit-django-migrations

Allow adding top 8 results for regular events
  championship/models.py
  championship/templates/championship/event_details.html
  championship/tests/test_result_upload.py
  championship/views/results.py
Due: pre-commit-django-migrations, djhtml

Explain to players how Regular events with playoffs award points
  championship/templates/championship/info/2025/info_player.html
Due: djhtml

Regular playoffs base 3 points
  championship/score/season_2025.py
  championship/tests/score/test_score_2025.py
Due: pre-commit-django-migrations

Decklist Collection event autocomplete Event is cumbersome to search for otherwise
  decklists/admin.py
Due: pre-commit-django-migrations

Show event name and format in collection
  decklists/factories.py
  decklists/migrations/0003_collection_format_alter_collection_name.py
  decklists/models.py
  decklists/templates/decklists/collection_details.html
  decklists/tests/test_view_collection.py
Due: pre-commit-django-migrations, djhtml

Change name_override in collection test
  decklists/tests/test_models.py
Due: pre-commit-django-migrations

Use early-exit style to simplify code
  championship/score/season_2023.py
  championship/score/season_2024.py
Due: pre-commit-django-migrations

Collection format_override By default the format of a collection is the one of the event. We allow to override the format for multiformat events
  decklists/factories.py
  decklists/migrations/0003_rename_name_collection_name_override.py
  decklists/models.py
  decklists/tests/test_view_collection.py
Due: pre-commit-django-migrations

CollectionFactory name_override empty by default
  decklists/factories.py
  decklists/tests/test_view_collection.py
Due: pre-commit-django-migrations

Format
  championship/templates/championship/event_details.html
  decklists/tests/test_decklists_event_details.py
Due: pre-commit-django-migrations, djhtml

Only show most recently modified decklist from each collection Otherwise if a user submits 2 decklists for the same collection we show both even though they played only the last submitted one.
  championship/views/events.py
  decklists/tests/test_decklists_event_details.py
Due: pre-commit-django-migrations

Delet popup object name not rendered
  championship/templates/championship/delete_confirmation.html
Due: djhtml

Remove unused imports
  decklists/tests/test_decklists_event_details.py
Due: pre-commit-django-migrations

Flaky decklist archetype When creating two decklists, the archetype can be the same
  championship/tests/test_decklists_event_details.py
Due: pre-commit-django-migrations

Show decklists in event details
  championship/templates/championship/event_details.html
  championship/tests/test_event_details.py
  championship/views/events.py
  decklists/tests/test_decklists_event_details.py
Due: pre-commit-django-migrations, djhtml

Attaching decklists to results in seperate function Improves readability of event details
  championship/views/events.py
Due: pre-commit-django-migrations

Event details only show published decklists
  championship/views/events.py
  decklists/tests/test_decklists_event_details.py
Due: pre-commit-django-migrations

Fix publication time flake
  championship/views/events.py
  decklists/tests/test_decklists_event_details.py
Due: pre-commit-django-migrations

Decklist table with sections Makes decklists easier to read and displays on a single computer page
  decklists/templates/decklists/decklist_details.html
  decklists/templates/decklists/decklist_table.html
  decklists/tests/test_view_decklisit.py
  decklists/views.py
Due: pre-commit-django-migrations, djhtml

Make decklist columns responsive
  decklists/templates/decklists/decklist_table.html
  static/style.scss
Due: djhtml

Path conditions:
  pre-commit-django-migrations: any of: \.py$
  djhtml: any of: templates/ and \.(html|htm|xhtml)$
