Repository antoinealb/swiss-unity-league: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-commit-django-migrations, djhtml

pre-commit-django-migrations:
  name: Check django migrations
  entry: ./manage.py makemigrations --dry-run --check
  language: system
  pass_filenames: false

djhtml:
  name: Check django template
  entry: djhtml
  language: system

Improve sorting of most accomplished results
  championship/tests/test_player_details_page.py
  championship/views/players.py
Due: pre-commit-django-migrations

Show event category in result str Needed this as it made debugging easier.
  championship/models.py
  championship/tests/models/test_eventplayerresult.py
Due: pre-commit-django-migrations

profile imgage increase size to 1MB In practice 500 KB turned out to be too little for the profile image.
  championship/migrations/0046_alter_playerprofile_image.py
  championship/models.py
Due: pre-commit-django-migrations

Rename publication_time to published_date Publication_time is misleading as it's a date.
  articles/admin.py
  articles/forms.py
  articles/migrations/0004_rename_publication_time_article_published_date.py
  articles/models.py
  articles/templates/articles/article_archive.html
  articles/templates/articles/article_detail.html
  articles/tests/test_detail_view.py
  articles/tests/test_list_view.py
  articles/tests/test_model.py
  articles/tests/test_update_view.py
  articles/views.py
  championship/templates/championship/index.html
  championship/tests/test_index_page.py
  championship/views/index.py
Due: pre-commit-django-migrations, djhtml

Fix sort order most accomplished results
  championship/views/players.py
Due: pre-commit-django-migrations

Prefetch organizer to prevent n+1 query when finding most common organizer
  championship/views/players.py
Due: pre-commit-django-migrations

Player n+1 query in decklists of event details Source of error: for each unmatched decklist we show the name of the player
  championship/templates/championship/event_details.html
  championship/views/events.py
Due: pre-commit-django-migrations, djhtml

Allow organizers to edit decklists past deadline
  decklists/templates/decklists/decklist_details.html
  decklists/tests/test_update_decklist.py
  decklists/tests/test_view_decklist.py
  decklists/views.py
Due: pre-commit-django-migrations, djhtml

Allow organizers to submit decklists past deadline
  decklists/templates/decklists/collection_details.html
  decklists/tests/test_update_decklist.py
  decklists/tests/test_view_collection.py
  decklists/views.py
Due: pre-commit-django-migrations, djhtml

Show format in Collection admin
  decklists/admin.py
Due: pre-commit-django-migrations

Init datetimes collection create We initialize the submission deadline to the start of the event or else 9 am on the same day. The decklists will be publish at the start of the next day by default.
  decklists/forms.py
  decklists/tests/test_update_collection.py
Due: pre-commit-django-migrations

Allow TOs to create and update decklist collections
  decklists/forms.py
  decklists/models.py
  decklists/templates/decklists/collection_edit.html
  decklists/tests/test_update_collection.py
  decklists/urls.py
  decklists/views.py
Due: pre-commit-django-migrations, djhtml

Switch collection validation to DB constraints
  championship/tests/test_decklists_event_details.py
  decklists/factories.py
  decklists/migrations/0004_collection_decklists_collection_submission_before_publication.py
  decklists/models.py
  decklists/tests/test_models.py
  decklists/tests/test_update_collection.py
  decklists/tests/test_view_collection.py
  decklists/tests/test_view_decklist.py
Due: pre-commit-django-migrations

Show published decklists in player details Mikko requested that he would like to also see it in the player for easy access during the stream.
  championship/templates/championship/player_details.html
  championship/tests/test_player_details_page.py
  championship/views/players.py
Due: pre-commit-django-migrations, djhtml

Helper to get redacted player name Players hidden from the leaderboard need to have their name redacted in all view
  articles/templates/articles/decklist_card.html
  championship/models.py
  championship/templates/championship/event_details.html
  championship/templates/championship/index.html
  championship/templates/championship/organizer_details.html
  championship/templates/championship/player_details.html
  championship/templates/championship/ranking/base_ranking.html
  championship/templates/championship/results_confirm_delete.html
  championship/templates/championship/update_result.html
  championship/templatetags/custom_tags.py
  championship/tests/models/test_player.py
  championship/tests/test_event_details.py
Due: pre-commit-django-migrations, djhtml

Introduce a queryset for decklist publication status
  championship/views/events.py
  championship/views/players.py
  decklists/models.py
  decklists/tests/test_models.py
Due: pre-commit-django-migrations

Tweak docstrings for get_name_display
  championship/models.py
  championship/tests/test_docstrings.py
Due: pre-commit-django-migrations

Disallow manual edition of Scryfall data
  oracle/admin.py
Due: pre-commit-django-migrations

Team name in PlayerProfileAdmin This allows easily see which players belong to the same team.
  championship/admin.py
Due: pre-commit-django-migrations

Improve layout of TO actions Group things that belong together so that it's more clear what each of the buttons does
  championship/templates/championship/event_details.html
Due: djhtml

Show link for player to upload decklists in event
  championship/templates/championship/event_details.html
  championship/tests/test_event_details.py
  championship/views/events.py
  decklists/models.py
  decklists/views.py
Due: pre-commit-django-migrations, djhtml

Improve decklist collection and submission UI for event details
  championship/templates/championship/event_details.html
Due: djhtml

Allow organizers to create decklist collections
  championship/templates/championship/event_details.html
  championship/tests/test_decklists_event_details.py
  championship/tests/test_event_details.py
  championship/views/events.py
Due: pre-commit-django-migrations, djhtml

Show view decklists link also for published decklists
  championship/templates/championship/event_details.html
  championship/tests/test_decklists_event_details.py
  championship/views/events.py
Due: pre-commit-django-migrations, djhtml

Collection form improve help texts The current help texts are directed at admins not organizers.
  decklists/forms.py
Due: pre-commit-django-migrations

Improve Unmatched Decklists layout
  championship/templates/championship/event_details.html
  championship/tests/test_decklists_event_details.py
Due: pre-commit-django-migrations, djhtml

Make format_override required for multiformat events
  decklists/forms.py
  decklists/tests/test_update_collection.py
Due: pre-commit-django-migrations

Show edit deadline in collection details
  decklists/templates/decklists/collection_details.html
  decklists/tests/test_view_collection.py
Due: pre-commit-django-migrations, djhtml

Stop exposing deck_name and decklist_url in results form We will keep storing the lists when we get them from thrid party sites. At some point we might want to crawl them and import them to our site
  championship/forms.py
Due: pre-commit-django-migrations

Duplicated query set manager definition
  decklists/models.py
Due: pre-commit-django-migrations

Log changes to Collection & decklists to the log
  decklists/models.py
Due: pre-commit-django-migrations

Allow sorting Collections by format in admin
  decklists/admin.py
Due: pre-commit-django-migrations

Improve player profile bio Added maxlength as players submit way too long bios sometimes and added clearer instructions
  championship/migrations/0047_alter_playerprofile_bio.py
  championship/models.py
Due: pre-commit-django-migrations

Retry sendgrid integration
  requirements.txt
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations

Fix duplicated IDs
  championship/templates/championship/future_events.html
Due: djhtml

Introduce reusable Event querysets for date filtering
  championship/models.py
  championship/tests/models/test_event.py
  championship/views/events.py
  championship/views/index.py
  championship/views/organizers.py
Due: pre-commit-django-migrations

Do not try to load non-existent icon
  championship/templates/championship/future_events.html
Due: djhtml

Implement fast-path loading of future events
  api/tests/test_format.py
  championship/templates/championship/future_events.html
  championship/tests/test_all_events_api.py
  championship/urls.py
  championship/views/events.py
  static/future_events.js
Due: pre-commit-django-migrations, djhtml

Speed up leaderboard filtering with Alpine
  championship/templates/championship/ranking/base_ranking.html
  championship/tests/test_ranking_page.py
  championship/views/ranking.py
Due: pre-commit-django-migrations, djhtml

Centralize the installation of alpinejs
  championship/templates/alpinejs.html
  championship/templates/championship/future_events.html
  championship/templates/championship/ranking/base_ranking.html
Due: djhtml

Path conditions:
  pre-commit-django-migrations: any of: \.py$
  djhtml: any of: templates/ and \.(html|htm|xhtml)$
