Repository antoinealb/swiss-unity-league: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-commit-django-migrations, djhtml

pre-commit-django-migrations:
  name: Check django migrations
  entry: ./manage.py makemigrations --dry-run --check
  language: system
  pass_filenames: false

djhtml:
  name: Check django template
  entry: djhtml
  language: system

Prefetch event organizer in invoice list
  invoicing/admin.py
Due: pre-commit-django-migrations

Show name of event series in event details Helps to know which event series an event belongs to. In the future we will add a link to a view that shows all the events part of the series
  championship/templates/championship/event_details.html
  championship/tests/test_event_details.py
Due: pre-commit-django-migrations, djhtml

Fix mana cost parser for release of MH3
  decklists/parser.py
  decklists/tests/test_parser.py
  decklists/tests/test_template_filters.py
Due: pre-commit-django-migrations

fix test name
  decklists/tests/test_template_filters.py
Due: pre-commit-django-migrations

Start using keep-sorted annotations for list of items.
  .pre-commit-config.yaml
  championship/importers.py
  championship/tests/test_docstrings.py
Due: pre-commit-django-migrations

fix order of declaration for mypy
  decklists/parser.py
Due: pre-commit-django-migrations

Allow scheduling series right after creating an event This makes it easier for TOs to detect and use the features
  championship/templates/championship/create_event.html
  championship/tests/test_events_create.py
  championship/views/events.py
Due: pre-commit-django-migrations, djhtml

Move architecture overview into docs
  docs/ARCHITECTURE.md
Due: none

Add date on plot
  invoicing/management/commands/plotrevenue.py
Due: pre-commit-django-migrations

Expose the revenue plot as a web view
  championship/templates/championship/base.html
  invoicing/management/commands/plotrevenue.py
  invoicing/templates/invoicing/report.html
  invoicing/tests/test_view_report.py
  invoicing/urls.py
  invoicing/views.py
  requirements.txt
Due: pre-commit-django-migrations, djhtml

Replace raw SQL by a F-expression.
  championship/score/generic.py
Due: pre-commit-django-migrations

Optimize performance of the finance dashboard
  invoicing/models.py
  invoicing/views.py
Due: pre-commit-django-migrations

Add Ruff, a fast Python linter to the project
  .pre-commit-config.yaml
  ruff.toml
Due: none

Add a basic Spicerack downloader
  championship/parsers/staging/download_spicerack.py
Due: pre-commit-django-migrations

Spicerack: Add a flag to ignore top8 correction
  championship/parsers/staging/download_spicerack.py
Due: pre-commit-django-migrations

fix typing
  championship/parsers/staging/download_spicerack.py
Due: pre-commit-django-migrations

Merge decklists when merging player.
  championship/admin.py
  championship/tests/test_merge_action.py
Due: pre-commit-django-migrations

Add debug as a metric for troubleshooting
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations

Add a context processor for having the DEBUG value
  swiss_unity_league_site/context_processors.py
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations

Transfer Docker image through artifacts
  .gitlab-ci.yml
Due: none

Spicerack parser for the api To get the results from spicerack we first need to fetch all the rounds and find the last swiss round and then get the standings from it
  championship/parsers/spicerack.py
  championship/tests/parsers/spicerack/get_all_rounds.json
  championship/tests/parsers/spicerack/include_all_standings.json
  championship/tests/parsers/test_spicerack.py
Due: pre-commit-django-migrations

Spicerack Importer Implement importer for spicerack that first searches for the correct round and then imports the results
  championship/importers.py
  championship/parsers/spicerack.py
  championship/tests/parsers/test_spicerack.py
  championship/tests/test_result_upload.py
  championship/views/results.py
Due: pre-commit-django-migrations

Compress image before sending it
  .gitlab-ci.yml
Due: none

Use response.json() for spicerack imports
  championship/parsers/spicerack.py
  championship/tests/parsers/test_spicerack.py
  championship/tests/parsers/utils.py
  championship/tests/test_result_upload.py
  championship/views/results.py
Due: pre-commit-django-migrations

Remove unused import
  championship/parsers/spicerack.py
Due: pre-commit-django-migrations

Revert "Compress image before sending it"
  .gitlab-ci.yml
Due: none

Revert "Transfer Docker image through artifacts"
  .gitlab-ci.yml
Due: none

Use SUL's own picture for the homepage
  static/tournament.jpg
Due: none

Increase number of workers
  Dockerfile
Due: none

Sort organizers by number of events they organize
  championship/views/organizers.py
Due: pre-commit-django-migrations

Mention draft set for invitational
  championship/templates/championship/info/2024/info_player.html
Due: djhtml

Add a field describing the purpose of the discount
  invoicing/migrations/0009_invoice_discount_type.py
  invoicing/models.py
Due: pre-commit-django-migrations

Show gridlines on finance plot for readability
  invoicing/views.py
Due: pre-commit-django-migrations

Take discount into account when plotting revenue
  invoicing/tests/test_view_report.py
  invoicing/views.py
Due: pre-commit-django-migrations

Remove mentioning proxies on our site
  championship/templates/championship/info/2023/info_organizer.html
  championship/templates/championship/info/2024/info_organizer.html
  championship/templates/championship/info/2024/info_player.html
Due: djhtml

Fix typo
  championship/templates/championship/info/2024/info_player.html
Due: djhtml

Announce mtg foundations as draft format
  championship/templates/championship/info/2024/info_player.html
Due: djhtml

Extract Scryfall image URL from data dump
  oracle/management/commands/scryfall_import.py
  oracle/migrations/0004_card_image_uri.py
  oracle/models.py
  oracle/tests.py
Due: pre-commit-django-migrations

Path conditions:
  pre-commit-django-migrations: any of: \.py$
  djhtml: any of: templates/ and \.(html|htm|xhtml)$
