Repository antoinealb/swiss-unity-league: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-commit-django-migrations, djhtml

pre-commit-django-migrations:
  name: Check django migrations
  entry: ./manage.py makemigrations --dry-run --check
  language: system
  pass_filenames: false

djhtml:
  name: Check django template
  entry: djhtml
  language: system

Implement card modal for decklists
  decklists/templates/decklists/card_modal.html
  decklists/templates/decklists/deck_section.html
  decklists/templates/decklists/decklist_details.html
  decklists/tests/test_decklist_normalization.py
  decklists/views.py
  oracle/factories.py
  static/decklists/card_modal.js
Due: pre-commit-django-migrations, djhtml

Default to images with transparent rounded corners
  oracle/management/commands/scryfall_import.py
  oracle/tests.py
Due: pre-commit-django-migrations

Start working on a blogging system
  articles/__init__.py
  articles/admin.py
  articles/apps.py
  articles/factories.py
  articles/migrations/0001_initial.py
  articles/migrations/__init__.py
  articles/models.py
  articles/tests/__init__.py
  articles/tests/test_model.py
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations

Add a basic article view
  articles/models.py
  articles/templates/articles/article_detail.html
  articles/tests/test_detail_view.py
  articles/tests/test_model.py
  articles/urls.py
  articles/views.py
  swiss_unity_league_site/urls.py
Due: pre-commit-django-migrations, djhtml

Make the financial report mobile-friendly
  invoicing/templates/invoicing/report.html
Due: djhtml

Start parsing articles and looking for card names
  articles/parser.py
  articles/tests/test_docstrings.py
  articles/tests/test_parser.py
Due: pre-commit-django-migrations

Implement views for article creation and editing
  articles/forms.py
  articles/templates/articles/article_detail.html
  articles/templates/articles/update_article.html
  articles/tests/test_detail_view.py
  articles/tests/test_update_view.py
  articles/urls.py
  articles/views.py
Due: pre-commit-django-migrations, djhtml

Add the option to search for an exact card name
  oracle/migrations/0005_alternatename_oracle_alte_name_05eebb_idx_and_more.py
  oracle/models.py
Due: pre-commit-django-migrations

Add a template tag to render aticle content
  articles/templates/articles/article_detail.html
  articles/templatetags/__init__.py
  articles/templatetags/article.py
  articles/tests/test_template_tags.py
  decklists/templates/decklists/card_modal_instance.html
Due: pre-commit-django-migrations, djhtml

Define a separate list of allowed tags for articles
  articles/migrations/0002_alter_article_content.py
  articles/models.py
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations

Add a view for a list of all time articles
  articles/templates/articles/article_archive.html
  articles/tests/test_list_view.py
  articles/urls.py
  articles/views.py
Due: pre-commit-django-migrations, djhtml

Fix publication time in article detail
  articles/templates/articles/article_detail.html
Due: djhtml

Show option in the menu to create articles
  articles/tests/test_update_view.py
  championship/templates/championship/base.html
Due: pre-commit-django-migrations, djhtml

Add some helper to access article states
  articles/context_processors.py
  articles/models.py
  articles/tests/test_context_processors.py
  articles/tests/test_model.py
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations

Show a link to articles in the header
  articles/tests/test_list_view.py
  championship/templates/championship/base.html
Due: pre-commit-django-migrations, djhtml

Add views to manage article drafts
  articles/templates/articles/article_detail.html
  articles/templates/articles/article_draft.html
  articles/tests/test_update_view.py
  articles/urls.py
  articles/views.py
  championship/templates/championship/base.html
Due: pre-commit-django-migrations, djhtml

Create a non_published article object manager
  articles/models.py
  articles/tests/test_model.py
  articles/views.py
Due: pre-commit-django-migrations

Define the 2025 season dates
  championship/factories.py
  championship/season.py
Due: pre-commit-django-migrations

Define fee structure for 2025
  invoicing/models.py
  invoicing/tests/test_billing.py
Due: pre-commit-django-migrations

Fix the direct invite trickle down logic
  championship/score/season_2024.py
  championship/tests/score/test_score_2024.py
Due: pre-commit-django-migrations

Replace "to be announced" with actual event location
  championship/templates/championship/info/2024/info_player.html
Due: djhtml

Update info_player.html
  championship/templates/championship/info/2024/info_player.html
Due: djhtml

Auto update the year in the footer
  championship/templates/championship/base.html
Due: djhtml

Implement decklist support in articles
  articles/parser.py
  articles/templates/articles/article_detail.html
  articles/templates/articles/article_draft.html
  articles/templates/articles/decklist.html
  articles/templatetags/article.py
  articles/tests/test_parser.py
  articles/tests/test_template_tags.py
  decklists/templates/decklists/deck_section.html
  decklists/views.py
Due: pre-commit-django-migrations, djhtml

Add information pages for the 2025 season
  championship/templates/championship/info/2025/info_organizer.html
  championship/templates/championship/info/2025/info_player.html
Due: djhtml

Rebrand Invitational to Championship
  championship/templates/championship/components/abstract.html
  championship/templates/championship/info/2025/info_organizer.html
  championship/templates/championship/info/2025/info_player.html
  championship/templates/championship/info/base_info_organizer.html
Due: djhtml

Infos about Trials
  championship/templates/championship/info/2025/info_player.html
Due: djhtml

Finish player rules
  championship/templates/championship/info/2025/info_player.html
Due: djhtml

Clean up organizer details
  championship/templates/championship/info/2025/info_organizer.html
Due: djhtml

Season 2025 scores
  championship/score/generic.py
  championship/score/season_2025.py
  championship/season.py
  championship/tests/score/test_score_2025.py
Due: pre-commit-django-migrations

ignore empty season list type
  championship/season.py
Due: pre-commit-django-migrations

Wrong season in test
  championship/tests/score/test_score_2024.py
Due: pre-commit-django-migrations

Separate cleanly between public and private APIs
  api/serializers.py
  api/urls.py
  api/views.py
  championship/serializers.py
  championship/tests/test_all_events_api.py
  championship/urls.py
  championship/views/events.py
Due: pre-commit-django-migrations

Remove remaining invites
  championship/score/season_2025.py
Due: pre-commit-django-migrations

Remove byes for result function Byes will be implemented through special reward
  championship/score/season_2025.py
Due: pre-commit-django-migrations

Don't expose Season 2025 leaderboard We first want to check whether it works
  championship/season.py
Due: pre-commit-django-migrations

Correct finalize_scores docstring
  championship/score/season_2025.py
Due: pre-commit-django-migrations

Remove template variable assignment
  championship/score/season_2024.py
  championship/score/season_2025.py
Due: pre-commit-django-migrations

Additional info about invitational
  championship/templates/championship/info/2025/info_player.html
Due: djhtml

Simplify regional rules It was too hard to understand how many regionals a TO can run.
  championship/templates/championship/info/2025/info_organizer.html
Due: djhtml

Path conditions:
  pre-commit-django-migrations: any of: \.py$
  djhtml: any of: templates/ and \.(html|htm|xhtml)$
