Repository antoinealb/swiss-unity-league: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-commit-django-migrations, djhtml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-yaml
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    -   id: autoflake
        args: [--remove-all-unused-imports]
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
- repo: https://github.com/psf/black
  rev: 24.3.0
  hooks:
    - id: black
- repo: local
  hooks:
    - id: pre-commit-django-migrations
      name: Check django migrations
      entry: ./manage.py makemigrations --dry-run --check
      language: system
      types: [python]
      pass_filenames: false
    - id: djhtml
      name: Check django template
      entry: djhtml
      language: system
      files: templates/
      types: [html]

- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
    - id: insert-license
      types: [python]
      args:
        - --license-filepath
        - .license_header.txt
        - --use-current-year

Extract info pages to separate app
  championship/tests/test_ical_feed.py
  championship/urls.py
  info/__init__.py
  info/apps.py
  info/templates/info/2023/info_organizer.html
  info/templates/info/2023/info_player.html
  info/templates/info/2024/info_organizer.html
  info/templates/info/2024/info_player.html
  info/templates/info/2025/info_organizer.html
  info/templates/info/2025/info_player.html
  info/templates/info/base_info_organizer.html
  info/templates/info/base_info_player.html
  info/templates/info/ical.html
  info/tests.py
  info/urls.py
  info/views.py
  swiss_unity_league_site/settings.py
  swiss_unity_league_site/urls.py
Due: pre-commit-django-migrations, djhtml

Make information dynamic We have a single view that handles all seasonal information views. Only seasons that have the template will be shown in the dropdown.
  championship/season.py
  info/templates/info/2023/info.html
  info/templates/info/2023/info_organizer.html
  info/templates/info/2024/info.html
  info/templates/info/2025/info.html
  info/tests.py
  info/urls.py
  info/views.py
Due: pre-commit-django-migrations, djhtml

Cleanup a bit the information view
  info/urls.py
  info/views.py
Due: pre-commit-django-migrations

Information page: Choose content based on site.
  info/templates/info/playground-eu.unityleague.ch/2025/info.html
  info/templates/info/unityleague.ch/2023/info.html
  info/templates/info/unityleague.ch/2023/info_organizer.html
  info/templates/info/unityleague.ch/2024/info.html
  info/templates/info/unityleague.ch/2024/info_organizer.html
  info/templates/info/unityleague.ch/2025/info.html
  info/templates/info/unityleague.ch/2025/info_organizer.html
  info/tests.py
  info/views.py
Due: pre-commit-django-migrations, djhtml

Allow edit/delete decklist with staffkey
  championship/templates/championship/delete_confirmation.html
  decklists/templates/decklists/collection_details.html
  decklists/templates/decklists/decklist_details.html
  decklists/tests/test_update_decklist.py
  decklists/tests/test_view_collection.py
  decklists/tests/test_view_decklist.py
  decklists/views.py
Due: pre-commit-django-migrations, djhtml

Allow to delete decklists
  championship/views/base.py
  decklists/templates/decklists/decklist_details.html
  decklists/tests/test_update_decklist.py
  decklists/urls.py
  decklists/views.py
Due: pre-commit-django-migrations, djhtml

Parse various decklist links in articles To make it easier for our authors they can now past decklists in anyway they like.
  articles/forms.py
  articles/parser.py
  articles/tests/test_parser.py
Due: pre-commit-django-migrations

Show article list as cards To make our article list page more fun to view we also use a card to display articles.
  articles/templates/articles/article_archive.html
  articles/templates/articles/article_card.html
  championship/templates/championship/index.html
Due: djhtml

Variable for public contact email
  championship/forms.py
  championship/templates/championship/base.html
  championship/templates/championship/event_details.html
  championship/templates/championship/privacy_policy.html
  championship/tests/test_index_page.py
  championship/views/results.py
  info/templates/info/unityleague.ch/2023/info.html
  info/templates/info/unityleague.ch/2023/info_organizer.html
  info/templates/info/unityleague.ch/2024/info.html
  info/templates/info/unityleague.ch/2024/info_organizer.html
  info/templates/info/unityleague.ch/2025/info.html
  info/templates/info/unityleague.ch/2025/info_organizer.html
  swiss_unity_league_site/context_processors.py
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations, djhtml

Leonin League in privacy policy Before we launch the EUL we should represent as Leonin League
  championship/templates/championship/privacy_policy.html
Due: djhtml

Privacy Policy
  championship/templates/championship/base.html
  championship/templates/championship/privacy_policy.html
  championship/tests/test_privacy_policy.py
  championship/urls.py
Due: pre-commit-django-migrations, djhtml

Move privacy policy to legal app
  championship/urls.py
  legal/__init__.py
  legal/apps.py
  legal/templates/legal/privacy_policy.html
  legal/tests.py
  legal/urls.py
  swiss_unity_league_site/settings.py
  swiss_unity_league_site/urls.py
Due: pre-commit-django-migrations, djhtml

Licensing first pre-commit It conflicts with traling whitespace in empty files (init.py). Like this we only need to run it once.
  .pre-commit-config.yaml
Due: none

Lookup the site's domain instead of SITE_ID.
  championship/models.py
Due: pre-commit-django-migrations

Django country in address
  championship/factories.py
  championship/migrations/0051_alter_address_country.py
  championship/models.py
  championship/tests/test_address.py
  championship/tests/test_all_events_api.py
  championship/tests/test_event_serializer.py
  championship/tests/test_index_page.py
  championship/tests/test_registration.py
  requirements.txt
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations

Make organizer default address required
  championship/factories.py
  championship/migrations/0052_alter_eventorganizer_default_address.py
  championship/models.py
  championship/templates/championship/address_form.html
  championship/templates/championship/address_list.html
  championship/tests/models/test_event_organizer.py
  championship/tests/test_address.py
  championship/tests/test_all_events_api.py
  championship/tests/test_event_serializer.py
  championship/tests/test_events_create.py
  championship/tests/test_organizer_edit.py
  championship/views/organizers.py
Due: pre-commit-django-migrations, djhtml

Use the DB to protect Address Foreign Keys
  championship/migrations/0052_alter_eventorganizer_default_address.py
  championship/models.py
  championship/tests/models/test_event_organizer.py
  championship/tests/test_address.py
Due: pre-commit-django-migrations

multisite: Create a model for site-specific infos
  multisite/migrations/0002_initial.py
  multisite/models.py
  multisite/tests/__init__.py
  multisite/tests/test_site_profile.py
Due: pre-commit-django-migrations

multisite: Add a contact email for each website
  multisite/README.md
  multisite/migrations/0003_sitesettings_contact_email.py
  multisite/models.py
  swiss_unity_league_site/context_processors.py
Due: pre-commit-django-migrations

api: Fix flakey test
  docs/api/tests/test_create_event.py
Due: pre-commit-django-migrations

Rename test to site settings
  multisite/tests/test_site_settings.py
Due: pre-commit-django-migrations

Add constants for global and swiss domain.
  articles/parser.py
  articles/tests/test_parser.py
  articles/tests/test_template_tags.py
  championship/models.py
  info/tests.py
  multisite/models.py
Due: pre-commit-django-migrations

Cleanup the decklist link parser
  articles/parser.py
Due: pre-commit-django-migrations

decklists: Store decklist as one "content" block
  articles/tests/test_template_tags.py
  decklists/forms.py
  decklists/migrations/0006_remove_decklist_mainboard_remove_decklist_sideboard_and_more.py
  decklists/models.py
  decklists/tests/deck.mwDeck
  decklists/tests/deck.txt
  decklists/tests/deck_no_sideboard_marker.txt
  decklists/tests/test_parser.py
  decklists/tests/test_update_decklist.py
  decklists/tests/test_view_collection.py
  decklists/tests/test_view_decklist.py
  decklists/views.py
Due: pre-commit-django-migrations

EventForm prevent creating events of higher category than Premier We want to promt the TOs to contact us in these cases.
  championship/forms.py
  championship/tests/test_events_create.py
  championship/views/events.py
Due: pre-commit-django-migrations

API prevent creating events of higher category than Premier We want organizers to contact us for these requests.
  api/tests/test_event_creation.py
  api/views.py
  championship/models.py
Due: pre-commit-django-migrations

Define European event types
  championship/factories.py
  championship/migrations/0053_alter_event_category_alter_organizerleague_category.py
  championship/models.py
  championship/score/generic.py
  championship/score/season_2023.py
  championship/score/season_2024.py
  championship/score/season_2025.py
  championship/tests/models/test_event.py
  championship/tests/test_all_events_api.py
  championship/tests/test_organizer_details.py
  championship/tests/test_result_upload.py
  championship/tests/test_tournament_valid.py
Due: pre-commit-django-migrations

Show Premier events as Regional in global site
  championship/models.py
  championship/tests/test_event_details.py
Due: pre-commit-django-migrations

Don't allow creating Premier events on Global
  api/tests/test_event_creation.py
  championship/forms.py
  championship/models.py
  championship/tests/test_events_create.py
Due: pre-commit-django-migrations

global_site decorator for tests Now we don't need to hard code the site id
  championship/tests/test_event_details.py
  multisite/tests/utils.py
Due: pre-commit-django-migrations

Scored seasons based on available score methods
  championship/admin.py
  championship/score/generic.py
  championship/season.py
  championship/tests/score/test_score_all.py
  championship/tests/test_player_details_page.py
  championship/tests/test_ranking_page.py
  championship/views/players.py
  championship/views/ranking.py
Due: pre-commit-django-migrations

Visible parameter in season Instead of relying on lists, we use parameters to hide certain seasons from the dropdown
  championship/season.py
  info/views.py
Due: pre-commit-django-migrations

Remove SEASON_AND_TRIAL_LIST
  championship/season.py
Due: pre-commit-django-migrations

Remove trial 2024 logic
  championship/score/generic.py
  championship/score/trial_2024.py
  championship/season.py
  championship/tests/score/test_score_trial_2024.py
Due: pre-commit-django-migrations

Main seasons Calling our yearly seasons "main seasons" makes the whole season structure easier to configure and understand.
  championship/management/commands/category_relevance.py
  championship/management/commands/import_smm_decklist.py
  championship/management/commands/report_fees.py
  championship/models.py
  championship/season.py
  championship/tests/test_organizer_details.py
  championship/views/base.py
  championship/views/events.py
  championship/views/organizers.py
  info/views.py
  invoicing/management/commands/plotrevenue.py
  invoicing/models.py
  invoicing/tests/test_view_report.py
  invoicing/views.py
Due: pre-commit-django-migrations

Fix flaky test Premier events can't be created on non-swiss sites
  championship/tests/test_organizer_details.py
Due: pre-commit-django-migrations

Show GeoIP information (behind a flag)
  championship/templates/championship/base.html
Due: djhtml

Start working with Waffle feature flags
  requirements.txt
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations

Add a GeoIP middleware
  .gitlab-ci.yml
  Dockerfile
  geo/__init__.py
  geo/apps.py
  geo/management/__init__.py
  geo/management/commands/__init__.py
  geo/management/commands/download_ipdb.py
  geo/middleware.py
  geo/tests/__init__.py
  geo/tests/test_geolocation_middleware.py
  requirements.txt
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations

Assert we only have 1 default season per domain
  championship/seasons/definitions.py
Due: pre-commit-django-migrations
