Repository antoinealb/swiss-unity-league: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-commit-django-migrations, djhtml

pre-commit-django-migrations:
  name: Check django migrations
  entry: ./manage.py makemigrations --dry-run --check
  language: system
  pass_filenames: false

djhtml:
  name: Check django template
  entry: djhtml
  language: system

Store which decklists a user created in cookie
  decklists/templates/decklists/collection_details.html
  decklists/tests/test_update_decklist.py
  decklists/tests/test_view_collection.py
  decklists/views.py
Due: pre-commit-django-migrations, djhtml

Expire cookies after one month, not 2 weeks.
  mtg_championship_site/settings.py
Due: pre-commit-django-migrations

Normalize card name as well
  decklists/tests/test_decklist_normalization.py
  decklists/views.py
Due: pre-commit-django-migrations

Keep track of both faces of double sided cards
  decklists/parser.py
  decklists/tests/test_decklist_normalization.py
  decklists/tests/test_models.py
  decklists/tests/test_update_decklist.py
  decklists/views.py
  oracle/management/commands/scryfall_import.py
  oracle/migrations/0003_alternatename.py
  oracle/models.py
  oracle/testdata.json
  oracle/tests.py
Due: pre-commit-django-migrations

Add more cards & types to the oracle card factory
  oracle/factories.py
Due: pre-commit-django-migrations

Sort decklist by taking into account card types
  decklists/tests/test_decklist_normalization.py
  decklists/tests/test_view_decklisit.py
  decklists/views.py
Due: pre-commit-django-migrations

Fix parsing when there are trailing spaces
  decklists/parser.py
  decklists/tests/test_parser.py
Due: pre-commit-django-migrations

Search cards using case insensitive
  oracle/models.py
  oracle/tests.py
Due: pre-commit-django-migrations

Show num players that submitted in decklist collection
  decklists/templates/decklists/collection_details.html
  decklists/tests/test_view_collection.py
Due: pre-commit-django-migrations, djhtml

Logout as post
  championship/templates/championship/base.html
Due: djhtml

Allow changing events that are out of a season
  api/tests/test_event_creation.py
  championship/models.py
  championship/tests/models/test_event.py
  championship/tests/test_result_update.py
Due: pre-commit-django-migrations

Make the profile edition more visible
  championship/templates/championship/base.html
Due: djhtml

When name starts with dash, we get an index error
  championship/templatetags/custom_tags.py
  championship/tests/test_template_tags.py
Due: pre-commit-django-migrations

Change color join chat button
  championship/templates/registration/register_organizer_success.html
Due: djhtml

Add website to organizer details
  championship/factories.py
  championship/templates/championship/organizer_details.html
Due: pre-commit-django-migrations, djhtml

Fix typos in success page
  championship/templates/registration/register_organizer_success.html
Due: djhtml

Organizer registration form A form that directly creates the organizer and the related user and address
  championship/forms.py
  championship/migrations/0033_eventorganizer_url_alter_eventorganizer_contact_and_more.py
  championship/models.py
  championship/templates/registration/register_organizer.html
  championship/templates/registration/register_organizer_success.html
  championship/tests/test_address.py
  championship/tests/test_registration.py
  championship/urls.py
  championship/views/organizers.py
Due: pre-commit-django-migrations, djhtml

Remove debug statement
  championship/tests/test_registration.py
Due: pre-commit-django-migrations

Update migration
  championship/migrations/0034_eventorganizer_url_alter_eventorganizer_contact_and_more.py
Due: pre-commit-django-migrations

Add registration link to organizer form
  championship/templates/championship/info/base_info_organizer.html
Due: djhtml

Pre-commit rebased files
  championship/forms.py
  championship/migrations/0034_eventorganizer_url_alter_eventorganizer_contact_and_more.py
  championship/tests/test_registration.py
  championship/views/organizers.py
Due: pre-commit-django-migrations

Show message that there are pending registrations to user that are allowed to change users
  championship/templates/championship/index.html
  championship/tests/test_index_page.py
  championship/views/index.py
Due: pre-commit-django-migrations, djhtml

Improve check for pending registration
  championship/tests/test_index_page.py
  championship/views/index.py
Due: pre-commit-django-migrations

Show error when username already taken
  championship/tests/test_registration.py
  championship/views/organizers.py
Due: pre-commit-django-migrations

Make registration a transaction
  championship/views/organizers.py
Due: pre-commit-django-migrations

Fix address test
  championship/views/organizers.py
Due: pre-commit-django-migrations

Only show add top 8 results link, if there are results
  championship/templates/championship/event_details.html
  championship/tests/test_event_details.py
Due: pre-commit-django-migrations, djhtml

Add information why users can't upload results (no event created, event too old to upload results)
  championship/forms.py
Due: pre-commit-django-migrations

No longer reverse order of past seasons in the filter
  championship/views/events.py
Due: pre-commit-django-migrations

Make rank and icons of leaderboard not wrap to new lines
  championship/templates/championship/ranking/base_ranking.html
Due: djhtml

Make address table responsive
  championship/templates/championship/address_list.html
Due: djhtml

Models for Recurring Events
  championship/models.py
Due: pre-commit-django-migrations

Rebase recurring events
  championship/migrations/0035_recurringevent_recurrencerule_event_recurring_event.py
  championship/views/events.py
Due: pre-commit-django-migrations

Improve recurrence rule model
  championship/migrations/0035_recurringevent_recurrencerule_event_recurring_event.py
  championship/models.py
Due: pre-commit-django-migrations

Calculate recurrence dates
  championship/factories.py
  championship/models.py
  championship/tests/test_recurring_events.py
  championship/views/events.py
  championship/views/recurring_events.py
Due: pre-commit-django-migrations

Remove rescheduling code for now
  championship/tests/test_recurring_events.py
  championship/views/recurring_events.py
Due: pre-commit-django-migrations

Remove foreignkey from event to recurring event for now
  championship/migrations/0035_recurringevent_recurrencerule.py
  championship/models.py
Due: pre-commit-django-migrations

Fix typing
  championship/migrations/0035_recurringevent_recurrencerule.py
  championship/views/recurring_events.py
Due: pre-commit-django-migrations

Small changes to organizer info
  championship/templates/championship/info/2024/info_organizer.html
Due: djhtml

Add a script to compare the evolution of our revenue
  championship/management/commands/report_fees.py
  invoicing/management/commands/plotrevenue.py
Due: pre-commit-django-migrations

Path conditions:
  pre-commit-django-migrations: any of: \.py$
  djhtml: any of: templates/ and \.(html|htm|xhtml)$
