Repository antoinealb/swiss-unity-league: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-commit-django-migrations, djhtml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-yaml
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    -   id: autoflake
        args: [--remove-all-unused-imports]
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
- repo: https://github.com/psf/black
  rev: 24.3.0
  hooks:
    - id: black
- repo: local
  hooks:
    - id: pre-commit-django-migrations
      name: Check django migrations
      entry: ./manage.py makemigrations --dry-run --check
      language: system
      types: [python]
      pass_filenames: false
    - id: djhtml
      name: Check django template
      entry: djhtml
      language: system
      files: templates/
      types: [html]

- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
    - id: insert-license
      types: [python]
      args:
        - --license-filepath
        - .license_header.txt
        - --use-current-year

Add total ordering for seasons
  championship/seasons/definitions.py
Due: pre-commit-django-migrations

Domain in season Seasons will only be available in one site. We also need to put the domains in a seperate file to prevent circular imports.
  api/tests/test_event_creation.py
  articles/parser.py
  articles/tests/test_parser.py
  articles/tests/test_template_tags.py
  championship/forms.py
  championship/models.py
  championship/season.py
  championship/tests/test_events_create.py
  info/tests.py
  multisite/constants.py
Due: pre-commit-django-migrations

Fix flaky test This test also fails if it creates a Premier in the non-Swiss site
  championship/tests/models/test_event.py
Due: pre-commit-django-migrations

Get seasons in lambda for form To prevent the form from accessing the Site objects from the database during initialization.
  championship/admin.py
Due: pre-commit-django-migrations

Document gdal install
  README.md
Due: none

Use Prometheus multiprocessing mode
  swiss_unity_league_site/settings.py
  swiss_unity_league_site/wsgi.py
Due: pre-commit-django-migrations

Instrument geoip lookup latency
  geo/middleware.py
Due: pre-commit-django-migrations

Use custom buckets for short duration geoip
  geo/middleware.py
Due: pre-commit-django-migrations

Improve event factories for future tests We have and OldCategoryRankedEventFactory that exludes the new event types for tests of older seasons. The new RankedEventFactory includes all new types
  api/tests/test_event_creation.py
  api/tests/test_event_results.py
  championship/factories.py
  championship/tests/models/test_organizer_league.py
  championship/tests/score/test_score_invitational_2025.py
  championship/tests/test_event_details.py
  championship/tests/test_index_page.py
  championship/tests/test_player_details_page.py
  championship/tests/test_ranking_page.py
  championship/tests/test_result_upload.py
  championship/tests/test_top_players_emails.py
Due: pre-commit-django-migrations

Scores for EU Season 2025 We're still missing: - The scores per country - Limit of 12 Regulars with top 8 and 50 without. - Special rewards for Grand Prixs
  championship/score/eu_season_2025.py
  championship/score/generic.py
  championship/tests/score/test_score_eu_2025.py
Due: pre-commit-django-migrations

Maximum of Swiss and playoff result
  championship/score/eu_season_2025.py
  championship/tests/score/test_score_eu_2025.py
Due: pre-commit-django-migrations

Improve leaderboard descriptions
  championship/seasons/definitions.py
  championship/templates/championship/ranking/2025/ranking.html
  championship/templates/championship/ranking/base_ranking.html
  championship/templates/championship/ranking/eu-2025/ranking.html
  championship/templates/championship/ranking/invitational-spring-2025/ranking.html
Due: pre-commit-django-migrations, djhtml

hotfix: fix latency regression on future events
  championship/models.py
Due: pre-commit-django-migrations

Points None In the future we will have MTGTop8 results without points, just a rank/playoff result.
  championship/score/eu_season_2025.py
  championship/tests/score/test_score_eu_2025.py
Due: pre-commit-django-migrations

Mockup EU Season for 2024 So that we can test the leaderboard and request feedback from players.
  championship/score/generic.py
  championship/seasons/definitions.py
  championship/templates/championship/ranking/eu-2024-mockup/ranking.html
  info/templates/info/playground-eu.unityleague.ch/eu-2024-mockup/info.html
Due: pre-commit-django-migrations, djhtml

Updated points system after player feedback
  championship/score/eu_season_2025.py
  championship/tests/score/test_score_eu_2025.py
Due: pre-commit-django-migrations

Assert slug is alphanumeric (requirement from the api router)
  championship/seasons/definitions.py
  championship/templates/championship/ranking/eu2024mockup/ranking.html
  championship/templates/championship/ranking/eu2025/ranking.html
  info/templates/info/playground-eu.unityleague.ch/eu2024mockup/info.html
  info/templates/info/playground-eu.unityleague.ch/eu2025/info.html
Due: pre-commit-django-migrations, djhtml

Use system checks rather than naked asserts
  championship/seasons/definitions.py
Due: pre-commit-django-migrations

Fix system check initialization time
  championship/apps.py
  championship/seasons/checks.py
  championship/seasons/definitions.py
Due: pre-commit-django-migrations

Remove obsolete Grafana deploy script
  notify_deploy_on_grafana.sh
Due: none

remove script from gitlab ci
  .gitlab-ci.yml
Due: none

Use domains from seasons definitions
  championship/seasons/checks.py
Due: pre-commit-django-migrations

Add a link to upload pictures on articles
  articles/forms.py
  articles/templates/articles/update_article.html
  articles/views.py
Due: pre-commit-django-migrations, djhtml

Put the header image behind a flag
  articles/templates/articles/article_card.html
Due: djhtml

PlayerSeasonData Allows to store a country assignment for each season
  championship/admin.py
  championship/factories.py
  championship/management/commands/assign_countries_to_players.py
  championship/migrations/0054_playerseasondata_and_more.py
  championship/models.py
  championship/score/generic.py
  championship/seasons/definitions.py
  championship/tests/models/test_playerseasondata.py
  championship/tests/score/test_score_all.py
  championship/tests/test_player_assign_country.py
Due: pre-commit-django-migrations

Fix flag setting
  championship/tests/test_index_page.py
Due: pre-commit-django-migrations

Show finished event series in a different header
  championship/templates/championship/organizer_details.html
  championship/templates/championship/recurring_event_table.html
  championship/tests/test_organizer_details.py
  championship/views/organizers.py
Due: pre-commit-django-migrations, djhtml

Filter leaderboard per country code
  championship/factories.py
  championship/models.py
  championship/score/generic.py
  championship/templates/championship/components/season_dropdown.html
  championship/templates/championship/ranking/2025/ranking.html
  championship/tests/test_ranking_page.py
  championship/urls.py
  championship/views/base.py
  championship/views/players.py
  championship/views/ranking.py
Due: pre-commit-django-migrations, djhtml

Assert season for assign_countries_to_players Turns out it doesn't check the default value is a valid choice also from command line.
  championship/management/commands/assign_countries_to_players.py
  championship/tests/test_player_assign_country.py
Due: pre-commit-django-migrations

Info url for season I forgot to add the url that allows to fetch the info in the season dropdown, when I changed the template.
  info/tests.py
  info/views.py
Due: pre-commit-django-migrations

Finalize score: args kwargs instead of unused country code
  championship/score/invitational_spring_2025.py
  championship/score/season_2023.py
  championship/score/season_2024.py
  championship/score/season_2025.py
  championship/score/season_all.py
Due: pre-commit-django-migrations

Prepare the country assignment script for production
  championship/management/commands/assign_countries_to_players.py
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations

Fix tests
  championship/management/commands/assign_countries_to_players.py
  championship/tests/test_player_assign_country.py
Due: pre-commit-django-migrations

Fix invitational leaderboard link
  championship/templates/championship/ranking/2025/ranking.html
Due: djhtml

Decklist hidden player name One player complained that his name is shown in the decklist. Now we use get_name_display everywhere to correctly redact the name for hidden players.
  championship/templates/championship/player_profile_card.html
  championship/templates/championship/ranking/base_ranking.html
  championship/tests/test_player_profile.py
  decklists/admin.py
  decklists/templates/decklists/collection_details.html
  decklists/templates/decklists/decklist_details.html
  decklists/tests/test_view_collection.py
  decklists/tests/test_view_decklist.py
Due: pre-commit-django-migrations, djhtml

Create event in organizer details I noticed a common use case is to look at your current events and then create a new one.
  championship/templates/championship/organizer_details.html
Due: djhtml

Current site context processor To get easy access to the current sites data like contact email we have a processor for it
  championship/forms.py
  championship/templates/championship/base.html
  championship/templates/championship/event_details.html
  championship/templates/championship/ranking/base_ranking.html
  championship/templates/championship/ranking/eu2025/ranking.html
  championship/tests/test_index_page.py
  championship/views/results.py
  info/templates/info/unityleague.ch/2023/info.html
  info/templates/info/unityleague.ch/2023/info_organizer.html
  info/templates/info/unityleague.ch/2024/info.html
  info/templates/info/unityleague.ch/2024/info_organizer.html
  info/templates/info/unityleague.ch/2025/info.html
  info/templates/info/unityleague.ch/2025/info_organizer.html
  legal/templates/legal/privacy_policy.html
  swiss_unity_league_site/context_processors.py
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations, djhtml

Country search box Allow users to easily switch to other countries.
  championship/templates/championship/ranking/base_ranking.html
Due: djhtml

Country Flag
  championship/templates/championship/ranking/base_ranking.html
  championship/tests/test_ranking_page.py
Due: pre-commit-django-migrations, djhtml
