Repository antoinealb/swiss-unity-league: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-commit-django-migrations, djhtml

pre-commit-django-migrations:
  name: Check django migrations
  entry: ./manage.py makemigrations --dry-run --check
  language: system
  pass_filenames: false

djhtml:
  name: Check django template
  entry: djhtml
  language: system

Ranking for Mock season 2024 Temporarily we copy the ranking for the mock season so we can test it.
  championship/templates/championship/ranking/eu2024mockup/ranking.html
Due: djhtml

National Leaderboard Information Explain to players what the rewards are for their country directly in the leaderboard.
  championship/factories.py
  championship/templates/championship/ranking/base_ranking.html
  championship/templates/championship/ranking/eu2025/ranking.html
  championship/tests/test_ranking_page.py
  championship/views/ranking.py
Due: pre-commit-django-migrations, djhtml

Adapt qp and playoff tables for EU
  championship/tests/test_player_details_page.py
  championship/views/players.py
Due: pre-commit-django-migrations

Sort accomplished results EU
  championship/tests/test_player_details_page.py
  championship/views/players.py
Due: pre-commit-django-migrations

EU abstract and info reorganization Make separate base infos and abstracts for both sites.
  articles/templates/articles/article_archive.html
  championship/templates/championship/base.html
  championship/templates/championship/future_events.html
  championship/templates/championship/index.html
  championship/templates/championship/ranking/base_ranking.html
  championship/templates/registration/register_organizer_success.html
  championship/tests/test_index_page.py
  info/templates/info/abstract.html
  info/templates/info/ical.html
  info/templates/info/playground-eu.unityleague.ch/abstract.html
  info/templates/info/playground-eu.unityleague.ch/base_info.html
  info/templates/info/playground-eu.unityleague.ch/base_info_organizer.html
  info/templates/info/playground-eu.unityleague.ch/eu2024mockup/info.html
  info/templates/info/playground-eu.unityleague.ch/eu2025/info.html
  info/templates/info/unityleague.ch/2023/info.html
  info/templates/info/unityleague.ch/2023/info_organizer.html
  info/templates/info/unityleague.ch/2024/info.html
  info/templates/info/unityleague.ch/2024/info_organizer.html
  info/templates/info/unityleague.ch/2025/info.html
  info/templates/info/unityleague.ch/2025/info_organizer.html
  info/templates/info/unityleague.ch/abstract.html
  info/templates/info/unityleague.ch/base_info.html
  info/templates/info/unityleague.ch/base_info_organizer.html
  info/urls.py
  invoicing/templates/invoicing/report.html
Due: pre-commit-django-migrations, djhtml

with_site rename site test helper The term site should be used as a variable for an instance of the Site model.
  championship/tests/score/test_score_eu_2025.py
  championship/tests/test_event_details.py
  championship/tests/test_organizer_details.py
  championship/tests/test_player_assign_country.py
  championship/tests/test_player_details_page.py
  championship/tests/test_ranking_page.py
  multisite/tests/utils.py
Due: pre-commit-django-migrations

Ranking for spring invitational
  championship/templates/championship/ranking/spring2025invitational/ranking.html
Due: djhtml

Multi column layout for info
  info/templates/info/playground-eu.unityleague.ch/abstract.html
  info/templates/info/playground-eu.unityleague.ch/base_info.html
  info/templates/info/playground-eu.unityleague.ch/eu2025/info.html
  info/templates/info/playground-eu.unityleague.ch/eu2025/info_organizer.html
  info/templates/info/playground-eu.unityleague.ch/eu2025/info_player.html
Due: djhtml

Organizer info EU
  info/templates/info/playground-eu.unityleague.ch/base_info_organizer.html
  info/templates/info/playground-eu.unityleague.ch/base_info_player.html
  info/templates/info/playground-eu.unityleague.ch/eu2024mockup/info_organizer.html
  info/templates/info/playground-eu.unityleague.ch/eu2025/info.html
  info/templates/info/playground-eu.unityleague.ch/eu2025/info_organizer.html
  info/templates/info/playground-eu.unityleague.ch/eu2025/info_player.html
Due: djhtml

Shared info page We have a shared landing info page that only contains the absolute necessary information for players and organizers alike. They can switch to the player/organizer specific info there.
  info/templates/info/playground-eu.unityleague.ch/abstract.html
  info/templates/info/playground-eu.unityleague.ch/base_info.html
  info/templates/info/playground-eu.unityleague.ch/eu2025/info.html
Due: djhtml

Improve organizer info
  info/templates/info/playground-eu.unityleague.ch/eu2025/info_organizer.html
  info/templates/info/playground-eu.unityleague.ch/eu2025/info_player.html
Due: djhtml

Info for EU players
  info/templates/info/playground-eu.unityleague.ch/base_info.html
  info/templates/info/playground-eu.unityleague.ch/base_info_player.html
  info/templates/info/playground-eu.unityleague.ch/eu2024mockup/info_player.html
  info/templates/info/playground-eu.unityleague.ch/eu2025/info.html
  info/templates/info/playground-eu.unityleague.ch/eu2025/info_player.html
  info/urls.py
Due: pre-commit-django-migrations, djhtml

Accordeon for FAQ in info EU
  info/templates/info/playground-eu.unityleague.ch/eu2025/info.html
  info/templates/info/playground-eu.unityleague.ch/eu2025/info_organizer.html
  info/templates/info/playground-eu.unityleague.ch/eu2025/info_player.html
Due: djhtml

Images to bring EU info alive
  info/templates/info/playground-eu.unityleague.ch/base_info.html
  info/templates/info/playground-eu.unityleague.ch/eu2025/info.html
  static/top_8_players.webp
  static/tournament_winner.webp
Due: djhtml

Add a geocoding utility for Address
  .gitlab-ci.yml
  Dockerfile
  geo/address.py
  geo/tests/test_geocoding_address.py
  requirements.txt
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations

Cache geocoding results
  geo/address.py
Due: pre-commit-django-migrations

Adds GPS coordinates to Address
  README.md
  championship/factories.py
  championship/migrations/0056_address_position.py
  championship/models.py
  championship/tests/models/test_address.py
  geo/tests/test_geocoding_address.py
  geo/tests/utils.py
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations

Upcoming events: display distance to events
  championship/serializers.py
  championship/templates/championship/future_events.html
  championship/tests/test_all_events_api.py
  championship/views/events.py
  geo/middleware.py
Due: pre-commit-django-migrations, djhtml

Path conditions:
  pre-commit-django-migrations: any of: \.py$
  djhtml: any of: templates/ and \.(html|htm|xhtml)$
