Repository antoinealb/swiss-unity-league: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-commit-django-migrations, djhtml

pre-commit-django-migrations:
  name: Check django migrations
  entry: ./manage.py makemigrations --dry-run --check
  language: system
  pass_filenames: false

djhtml:
  name: Check django template
  entry: djhtml
  language: system

Do not eat quota if the form is invalid
  championship/tests/test_registration.py
  championship/views/organizers.py
Due: pre-commit-django-migrations

Add tests for the cascade protection setup
  championship/tests/models/test_event_organizer.py
Due: pre-commit-django-migrations

Move mtg_championship_site to swiss_unity_league_site
  Dockerfile
  championship/tests/models/test_event.py
  manage.py
  mtg_championship_site/asgi.py
  swiss_unity_league_site/__init__.py
  swiss_unity_league_site/settings.py
  swiss_unity_league_site/test_media_serving_config.py
  swiss_unity_league_site/urls.py
  swiss_unity_league_site/wsgi.py
Due: pre-commit-django-migrations

Delete RecurringEvents Allow TOs to delete their own recurring events with a popup
  championship/migrations/0039_alter_recurringevent_options.py
  championship/models.py
  championship/templates/championship/organizer_details.html
  championship/tests/test_address.py
  championship/tests/test_events_create.py
  championship/tests/test_recurring_events.py
  championship/urls.py
  championship/views/base.py
  championship/views/recurring_events.py
Due: pre-commit-django-migrations, djhtml

Call super form valid for custom delete view reduces amount of needed code
  championship/views/base.py
Due: pre-commit-django-migrations

Correct spelling event series I double checked the spelling of the word Event series and updated the migration
  championship/migrations/0040_alter_recurringevent_options.py
  championship/models.py
Due: pre-commit-django-migrations

Fix typing
  .gitlab-ci.yml
  decklists/views.py
  oracle/migrations/0001_initial.py
Due: pre-commit-django-migrations

Add per-format performance statistics to the player's page
  championship/templates/championship/player_details.html
  championship/tests/test_player_details_page.py
  championship/views/players.py
Due: pre-commit-django-migrations, djhtml

Add win ratio without taking draws into account
  championship/templates/championship/player_details.html
  championship/tests/test_player_details_page.py
  championship/views/players.py
Due: pre-commit-django-migrations, djhtml

Add a percentage template tag
  championship/templatetags/custom_tags.py
  championship/tests/test_docstrings.py
Due: pre-commit-django-migrations

Add record to Player's event history
  championship/templates/championship/player_details.html
Due: djhtml

Add "Overall" as a format for performance
  championship/templates/championship/player_details.html
  championship/tests/test_player_details_page.py
  championship/views/players.py
Due: pre-commit-django-migrations, djhtml

Increase cache_ttl for organizer leadeboard to 1h Since the organizer leaderboard doesn't award any points, we can have the cache last longer as errors are less relevant
  championship/score/generic.py
Due: pre-commit-django-migrations

Organizer Leadearboard Even though we are not going to do an SUL event series, I would still like to provide a leaderboard per TO, so players can find out who's the best in town
  championship/score/generic.py
  championship/templates/championship/organizer_details.html
  championship/tests/test_organizer_details.py
  championship/views/organizers.py
Due: pre-commit-django-migrations, djhtml

Explain why we exclude top 8 events
  championship/score/generic.py
Due: pre-commit-django-migrations

Clarify comment
  championship/tests/test_organizer_details.py
Due: pre-commit-django-migrations

Pass organizer instead of id
  championship/score/generic.py
  championship/views/organizers.py
Due: pre-commit-django-migrations

Only delete cache of season within date range Otherwise we delete the cache of leaderboards that aren't effected by this change
  championship/score/generic.py
  championship/tests/test_organizer_details.py
Due: pre-commit-django-migrations

Add delete confirmation
  championship/templates/championship/organizer_details.html
Due: djhtml

Switch tab via url Give tabs a #url so that the user can share the tabs via link.
  championship/templates/championship/organizer_details.html
Due: djhtml

Clarify README
  README.md
Due: none

Downgrade Premier on event save We want to prevent TOs from organizing too small Premier events. All events with less than 24 players are downgraded to regional when the event is saved
  championship/models.py
  championship/tests/models/test_event.py
Due: pre-commit-django-migrations

Remove old Premier validation logic Previously we were showing an error when uploading results for a premier event with too few players, instead we now automatically downgrade the event.
  championship/tests/test_tournament_valid.py
  championship/tournament_valid.py
  championship/views/results.py
Due: pre-commit-django-migrations

Show warning when event is downgraded When the TO uploads the results for an event, we show a warning that the event is downgraded
  championship/tests/test_result_upload.py
  championship/views/results.py
Due: pre-commit-django-migrations

Downgrade Premier events through API Premier vents with less than 24 players should be downgraded to SUL Regional when the results for the event are uploaded through the api.
  api/tests/test_event_results.py
  championship/serializers.py
Due: pre-commit-django-migrations

Edit all recurring event Allow TOs to edit the details of all events belonging to the same recurring event at the same time.
  championship/forms.py
  championship/templates/championship/event_details.html
  championship/tests/test_event_details.py
  championship/tests/test_recurring_events.py
  championship/urls.py
  championship/views/recurring_events.py
Due: pre-commit-django-migrations, djhtml

Update event When copying values from one event to another, we only want to copy certain fields. Especially exception given for a single event should not be copied
  championship/models.py
  championship/tests/models/test_event.py
  championship/tests/test_recurring_events.py
  championship/views/events.py
  championship/views/recurring_events.py
Due: pre-commit-django-migrations

Fix type issue
  championship/models.py
Due: pre-commit-django-migrations

Show only recent organizers as partners Our hompage shows the logos of some organizers that no longer participate in the SUL. Now only organizers that have an event in the last year are shown
  championship/tests/test_index_page.py
  championship/views/index.py
Due: pre-commit-django-migrations

Prevent cache key warning We need to slug the organizer name so that the cache key for the organizer leaderboard is always valid
  championship/score/generic.py
Due: pre-commit-django-migrations

Release Recurring Events Make all the urls available for TOs
  championship/models.py
  championship/templates/championship/event_details.html
  championship/templates/championship/organizer_details.html
  championship/tests/test_events_create.py
  championship/tests/test_recurring_events.py
  championship/urls.py
  championship/views/recurring_events.py
Due: pre-commit-django-migrations, djhtml

Fix edit all tests with update urls
  championship/tests/test_event_details.py
  championship/tests/test_recurring_events.py
  championship/views/recurring_events.py
Due: pre-commit-django-migrations

Refactor the Event's adjustement-on-save code
  championship/models.py
Due: pre-commit-django-migrations

Move MIN_PLAYERS_FOR_PREMIER to settings Code is cleaner if we assign constants like this one in settings instead of models
  championship/models.py
  championship/serializers.py
  championship/tests/models/test_event.py
  championship/views/results.py
  swiss_unity_league_site/settings.py
Due: pre-commit-django-migrations

Refactor image validation to seperate test class Doesn't belong to organizer_details
  championship/tests/test_organizer_details.py
Due: pre-commit-django-migrations

Remove unnecessary freezetime
  championship/tests/test_event_details.py
Due: pre-commit-django-migrations

Test recurring event links shown in event details
  championship/tests/test_event_details.py
Due: pre-commit-django-migrations

OrganizerLeagues
  championship/admin.py
  championship/factories.py
  championship/migrations/0041_organizerleague.py
  championship/models.py
  championship/score/generic.py
  championship/templates/championship/organizer_details.html
  championship/tests/models/test_organizer_league.py
  championship/tests/test_organizer_details.py
  championship/views/organizers.py
Due: pre-commit-django-migrations, djhtml

Invoice admine: Store total amount in cache
  invoicing/admin.py
Due: pre-commit-django-migrations

Prefetch related results in invoice
  invoicing/models.py
Due: pre-commit-django-migrations

Path conditions:
  pre-commit-django-migrations: any of: \.py$
  djhtml: any of: templates/ and \.(html|htm|xhtml)$
